<ion-view align="center" class="activity-board">
    <ion-nav-title>
        לוח פעילויות בחריש
    </ion-nav-title>
    <div ng-click="openCreateNewActivityModal()" class="floating-button"><i class="ion-plus lg"></i></div>
    <ion-content class="content">
    	<ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <activity-board-item-drtv
            ng-repeat="activity in activities track by activity._id"
            activity="activity">
        </activity-board-item-drtv>
    </ion-content>
</ion-view>
