<ion-modal-view align="center" class="general-modal-view" dir="rtl">
    <ion-content class="content general-modal-content stable-bg has-footer">

        <div class="create-edit-activity-edit-profile">
            <div class="bar bar-header bar-calm">
                <h1 class="title" ng-if="!edit">יצירת פעילות חדשה</h1>
                <h1 class="title" ng-if="edit">{{oldTitle}}</h1>
            </div>
            <div class="list text-right">
                <label class="item item-input name-select {{activityData.titleId == freeTextId ? 'no-border' : ''}}">
                    <select ng-model="activityData.titleId" name="titleId">
                        <option ng-repeat="title in titleOptions track by title._id" ng-disabled="!title._id"
                            ng-selected="{{activityData.titleId == title._id}}" value="{{title._id}}">
                            {{title.display}}
                        </option>
                    </select>
                    <span class="mandatory">*</span>
                </label>

                <label class="item item-input free-text" ng-show="activityData.titleId == freeTextId">
                    <input
                        ng-model="activityData.freeText"
                        type="text"
                        placeholder="הקלד שם לפעילות"
                        maxlength="20"
                        minlength="3">
                </label>

                <label class="item item-input ion-datetime-picker item-stacked-label" ion-datetime-picker
                       ng-model="activityData.datetimeMS">
		            <span class="input-label">
		                <span>תאריך ושעה</span>
		                <span class="mandatory">*</span>
		            </span>
                    <div class="date-time-text">
                        {{activityData.datetimeMS | date: "yyyy-MM-dd H:mm:ss"}}
                    </div>
                </label>

                <label class="item item-input item-stacked-label">
		            <span class="input-label">
		                <span>מיקום</span>
		                <span class="mandatory">*</span>
		            </span>
                    <input ng-model="activityData.location" type="text" placeholder="">
                </label>

                <label class="item item-input item-stacked-label">
		            <span class="input-label">
		                <span>פרטים נוספים</span>
		            </span>
                    <textarea
                        class="additional-info"
                        rows="4"
                        ng-model="activityData.extraDetails"
                        placeholder="הוסף פרטים נוספים על האירוע">
            		</textarea>
                </label>

                <div class="item item-input item-stacked-label">
                    <button type="file" ngf-select="selectImg($file)" ngf-accept="'image/*'" ngf-fix-orientation="true"
                        ngf-resize="{width: 500}">{{imageBtnText}}</button>
                    <button ng-click="clearImage()" ng-if="activityData.image">הסר תמונה</button>
                    <button ng-click="restoreOrigImage()" ng-if="edit && imgChange && activityData.imageUrl">תמונה מקורית</button>
                    <div class="preview" ng-if="image">
                        <br>
                        <img ngf-src="image" style="width: 100%; height: auto">
                    </div>
                </div>

                <div class="errors">
                    <div ng-repeat="error in errors track by $index">
                        {{error}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-modal-footer bar-stable">
        <button class="button button-right button-calm" ng-click="createEditActivity()">{{edit ?
            'עדכן פעילות' : 'צור פעילות' }}
        </button>
        <button class="button button-left button-light" ng-click="cancel()">ביטול</button>
    </div>
</ion-modal-view>
