<ng-switch on="activeModal.drtvName"">
            <sign-up-drtv ng-switch-when="signUpDrtv"></sign-up-drtv>
            <create-new-activity-drtv ng-switch-when="createNewActivityDrtv"></create-new-activity-drtv>
            <login-drtv ng-switch-when="loginDrtv"></login-drtv>
            <edit-activity-drtv ng-switch-when="editActivityDrtv"></edit-activity-drtv>
            <edit-profile-drtv ng-switch-when="editProfileDrtv"></edit-profile-drtv>
            <remarks-drtv ng-switch-when="remarksDrtv"></remarks-drtv>
<ng-switch/>
