<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-color-active-dark tabs-positive">

    <!-- Profile Tab -->
    <ion-tab title="פרופיל" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

    <!-- Community Information Tab-->
    <ion-tab title="מידע קהילתי" icon-off="ion-ios-information-outline" icon-on="ion-ios-information-outline" href="#/tab/communityInfo">
        <ion-nav-view name="community-info"></ion-nav-view>
    </ion-tab>

    <!-- Community Information Details Tab -->
    <ion-tab hidden="true" title="פרטי פעילות" icon-off="ion-android-walk" icon-on="ion-android-walk" href="#/tab/community-info-details">
        <ion-nav-view name="tab-community-info-details"></ion-nav-view>
    </ion-tab>

    <!-- Dummy Tab 2-->
    <!-- <ion-tab title="Dummy2" icon-off="ion-hammer" icon-on="ion-hammer" href="#/tab/dummy2">
        <ion-nav-view name="tab-dummy2"></ion-nav-view>
    </ion-tab> -->

    <!-- Dummy Tab 3-->
    <!-- <ion-tab title="Dummy3" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/dummy3">
        <ion-nav-view name="tab-dummy3"></ion-nav-view>
    </ion-tab> -->

    <!-- Activity Board Tab -->
    <!-- <ion-tab title="לוח פעילויות" icon-off="ion-android-walk" icon-on="ion-android-walk" href="#/tab/activity-board"> -->
    <ion-tab title="לוח פעילויות" icon-off="ion-android-walk" icon-on="ion-android-walk" ng-click="goToActivityBoard()">
        <ion-nav-view name="tab-activity-board"></ion-nav-view>
    </ion-tab>

    <!-- Activity Details Tab -->
    <ion-tab hidden="true" title="פרטי פעילות" icon-off="ion-android-walk" icon-on="ion-android-walk" href="#/tab/activity-details">
        <ion-nav-view name="tab-activity-details"></ion-nav-view>
    </ion-tab>


</ion-tabs>
