$light:                           #fff !default;
$stable:                          #e8eaed !default;
$positive:                        #4cd1ff !default;
$calm:                            #077bff !default;
$balanced:                        #33cd5f !default;
$energized:                       #91d3ff !default;
$assertive:                       #f44336 !default;
$royal:                           #4051b5 !default; // facebook
$dark:                            #000000 !default;


//custom colors

$good:                            #00ff00 !default;
$strongGood:                       #32AD32 !default;

$button-light-text:               $calm !default;
$button-light-border:             $calm !default;
// Base
// -------------------------------

$font-family-sans-serif:           Arial, "Helvetica Neue", Helvetica, sans-serif !default;

$font-family-light-sans-serif:    Arial, "Helvetica Neue", Helvetica, sans-serif !default;
