@import "variables";

.remarks{
    .list{
        padding-top: 60px !important;
        .title-text{
            margin-bottom: 25px
        }
        .item {
            background-color: $stable;
            margin-bottom: 2px;
            border-bottom: none;
            &.no-border{
                border: none;
            }
            .message{
                background-color: transparent;
                height: 210px;
            }
        }
    }
    .errors{
        text-align: right;
        color: $assertive;
    }
}

