@import "../lib/ionic/scss/variables";

.remarks{
    .list{
        padding-top: 60px !important;
        .title-text{
            margin-bottom: 25px
        }
        .item {
            background-color: $stable;
            margin-bottom: 2px;
            border-bottom: none;
            &.no-border{
                border: none;
            }
            .message{
                background-color: transparent;
                height: 210px;
            }
        }
    }
    .bar-footer{
        border: none;
        background-color: $stable;
        .button-right{
            width: 48%;
            right: 0;
            left: auto !important;
        }
        .button-left{
            width: 48%;
            left: 0;
            right: auto !important;
        }
    }
    .errors{
        text-align: right;
        color: $assertive;
    }
}

